force-app/main/default/flows/Bot_CancelOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Order_Not_Found</name>
        <label>Order Not Found</label>
        <locationX>601</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Order Not Found and Does Not Exist</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SendSuccessMessage</name>
        <label>Respond</label>
        <locationX>600</locationX>
        <locationY>61</locationY>
        <assignmentItems>
            <assignToReference>Message</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Your Order Has Been Cancelled</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Order_Status</name>
        <label>Check Order Status</label>
        <locationX>308</locationX>
        <locationY>250</locationY>
        <defaultConnector>
            <targetReference>Order_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderLookUp.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderLookUp.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CancelOrder</targetReference>
            </connector>
            <label>Order Found</label>
        </rules>
    </decisions>
    <interviewLabel>Bot {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bot CancelOrder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>OrderLookUp</name>
        <label>Order LookUp</label>
        <locationX>65</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Order_Status</targetReference>
        </connector>
        <filters>
            <field>Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CancelOrder</name>
        <label>Cancel Order</label>
        <locationX>320</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>SendSuccessMessage</targetReference>
        </connector>
        <filters>
            <field>Order_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>67</locationX>
        <locationY>58</locationY>
        <connector>
            <targetReference>OrderLookUp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OrderNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
